// ladda
@import '~ladda/css/ladda';

// editor
.wp-media-buttons .insert-media {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
}

img {
  max-width: 640px;
  width: auto;
  height: auto;
  vertical-align: bottom;
}

.insert_block {
  text-align: center;
  width: 320px;
  margin: 0;
}

.insert_block img {
  width: 100%;
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
table.alignright {float:right; margin:0 0 1em 1em}
table.alignleft {float:left; margin:0 1em 1em 0}
table.aligncenter {margin-left: auto; margin-right: auto;}
