/*!
 * Ladda
 * http://lab.hakim.se/ladda
 * MIT licensed
 *
 * Copyright (C) 2018 Hakim El Hattab, http://hakim.se
 */

/*************************************
 * CONFIG
 */

/*************************************
 * MIXINS
 */

/*************************************
 * Opacity animation for spin.js
 */

@-webkit-keyframes ladda-spinner-line-fade {
  0%, 100% {
    opacity: 0.22;
    /* minimum opacity */
  }

  1% {
    opacity: 1;
  }
}

@keyframes ladda-spinner-line-fade {
  0%, 100% {
    opacity: 0.22;
    /* minimum opacity */
  }

  1% {
    opacity: 1;
  }
}

/*************************************
 * BUTTON BASE
 */

.ladda-button {
  position: relative;
}

/* Spinner animation */

.ladda-button .ladda-spinner {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 32px;
  top: 50%;
  margin-top: 0;
  opacity: 0;
  pointer-events: none;
}

/* Button label */

.ladda-button .ladda-label {
  position: relative;
  z-index: 3;
}

/* Progress bar */

.ladda-button .ladda-progress {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  -webkit-transition: 0.1s linear all !important;
  transition: 0.1s linear all !important;
}

.ladda-button[data-loading] .ladda-progress {
  display: block;
}

/*************************************
 * EASING
 */

.ladda-button,
.ladda-button .ladda-spinner,
.ladda-button .ladda-label {
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
}

.ladda-button[data-style=zoom-in],
.ladda-button[data-style=zoom-in] .ladda-spinner,
.ladda-button[data-style=zoom-in] .ladda-label,
.ladda-button[data-style=zoom-out],
.ladda-button[data-style=zoom-out] .ladda-spinner,
.ladda-button[data-style=zoom-out] .ladda-label {
  -webkit-transition: 0.3s ease all !important;
  transition: 0.3s ease all !important;
}

/*************************************
 * EXPAND RIGHT
 */

.ladda-button[data-style=expand-right] .ladda-spinner {
  right: -6px;
}

.ladda-button[data-style=expand-right][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-right][data-size="xs"] .ladda-spinner {
  right: -12px;
}

.ladda-button[data-style=expand-right][data-loading] {
  padding-right: 56px;
}

.ladda-button[data-style=expand-right][data-loading] .ladda-spinner {
  opacity: 1;
}

.ladda-button[data-style=expand-right][data-loading][data-size="s"],
.ladda-button[data-style=expand-right][data-loading][data-size="xs"] {
  padding-right: 40px;
}

/*************************************
 * EXPAND LEFT
 */

.ladda-button[data-style=expand-left] .ladda-spinner {
  left: 26px;
}

.ladda-button[data-style=expand-left][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-left][data-size="xs"] .ladda-spinner {
  left: 4px;
}

.ladda-button[data-style=expand-left][data-loading] {
  padding-left: 56px;
}

.ladda-button[data-style=expand-left][data-loading] .ladda-spinner {
  opacity: 1;
}

.ladda-button[data-style=expand-left][data-loading][data-size="s"],
.ladda-button[data-style=expand-left][data-loading][data-size="xs"] {
  padding-left: 40px;
}

/*************************************
 * EXPAND UP
 */

.ladda-button[data-style=expand-up] {
  overflow: hidden;
}

.ladda-button[data-style=expand-up] .ladda-spinner {
  top: -32px;
  left: 50%;
  margin-left: 0;
}

.ladda-button[data-style=expand-up][data-loading] {
  padding-top: 54px;
}

.ladda-button[data-style=expand-up][data-loading] .ladda-spinner {
  opacity: 1;
  top: 26px;
  margin-top: 0;
}

.ladda-button[data-style=expand-up][data-loading][data-size="s"],
.ladda-button[data-style=expand-up][data-loading][data-size="xs"] {
  padding-top: 32px;
}

.ladda-button[data-style=expand-up][data-loading][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-up][data-loading][data-size="xs"] .ladda-spinner {
  top: 4px;
}

/*************************************
 * EXPAND DOWN
 */

.ladda-button[data-style=expand-down] {
  overflow: hidden;
}

.ladda-button[data-style=expand-down] .ladda-spinner {
  top: 62px;
  left: 50%;
  margin-left: 0;
}

.ladda-button[data-style=expand-down][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-down][data-size="xs"] .ladda-spinner {
  top: 40px;
}

.ladda-button[data-style=expand-down][data-loading] {
  padding-bottom: 54px;
}

.ladda-button[data-style=expand-down][data-loading] .ladda-spinner {
  opacity: 1;
}

.ladda-button[data-style=expand-down][data-loading][data-size="s"],
.ladda-button[data-style=expand-down][data-loading][data-size="xs"] {
  padding-bottom: 32px;
}

/*************************************
 * SLIDE LEFT
 */

.ladda-button[data-style=slide-left] {
  overflow: hidden;
}

.ladda-button[data-style=slide-left] .ladda-label {
  position: relative;
}

.ladda-button[data-style=slide-left] .ladda-spinner {
  left: 100%;
  margin-left: 0;
}

.ladda-button[data-style=slide-left][data-loading] .ladda-label {
  opacity: 0;
  left: -100%;
}

.ladda-button[data-style=slide-left][data-loading] .ladda-spinner {
  opacity: 1;
  left: 50%;
}

/*************************************
 * SLIDE RIGHT
 */

.ladda-button[data-style=slide-right] {
  overflow: hidden;
}

.ladda-button[data-style=slide-right] .ladda-label {
  position: relative;
}

.ladda-button[data-style=slide-right] .ladda-spinner {
  right: 100%;
  margin-left: 0;
  left: 16px;
}

[dir="rtl"] .ladda-button[data-style=slide-right] .ladda-spinner {
  right: auto;
}

.ladda-button[data-style=slide-right][data-loading] .ladda-label {
  opacity: 0;
  left: 100%;
}

.ladda-button[data-style=slide-right][data-loading] .ladda-spinner {
  opacity: 1;
  left: 50%;
}

/*************************************
 * SLIDE UP
 */

.ladda-button[data-style=slide-up] {
  overflow: hidden;
}

.ladda-button[data-style=slide-up] .ladda-label {
  position: relative;
}

.ladda-button[data-style=slide-up] .ladda-spinner {
  left: 50%;
  margin-left: 0;
  margin-top: 1em;
}

.ladda-button[data-style=slide-up][data-loading] .ladda-label {
  opacity: 0;
  top: -1em;
}

.ladda-button[data-style=slide-up][data-loading] .ladda-spinner {
  opacity: 1;
  margin-top: 0;
}

/*************************************
 * SLIDE DOWN
 */

.ladda-button[data-style=slide-down] {
  overflow: hidden;
}

.ladda-button[data-style=slide-down] .ladda-label {
  position: relative;
}

.ladda-button[data-style=slide-down] .ladda-spinner {
  left: 50%;
  margin-left: 0;
  margin-top: -2em;
}

.ladda-button[data-style=slide-down][data-loading] .ladda-label {
  opacity: 0;
  top: 1em;
}

.ladda-button[data-style=slide-down][data-loading] .ladda-spinner {
  opacity: 1;
  margin-top: 0;
}

/*************************************
 * ZOOM-OUT
 */

.ladda-button[data-style=zoom-out] {
  overflow: hidden;
}

.ladda-button[data-style=zoom-out] .ladda-spinner {
  left: 50%;
  margin-left: 32px;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

.ladda-button[data-style=zoom-out] .ladda-label {
  position: relative;
  display: inline-block;
}

.ladda-button[data-style=zoom-out][data-loading] .ladda-label {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.ladda-button[data-style=zoom-out][data-loading] .ladda-spinner {
  opacity: 1;
  margin-left: 0;
  -webkit-transform: none;
          transform: none;
}

/*************************************
 * ZOOM-IN
 */

.ladda-button[data-style=zoom-in] {
  overflow: hidden;
}

.ladda-button[data-style=zoom-in] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

.ladda-button[data-style=zoom-in] .ladda-label {
  position: relative;
  display: inline-block;
}

.ladda-button[data-style=zoom-in][data-loading] .ladda-label {
  opacity: 0;
  -webkit-transform: scale(2.2);
          transform: scale(2.2);
}

.ladda-button[data-style=zoom-in][data-loading] .ladda-spinner {
  opacity: 1;
  margin-left: 0;
  -webkit-transform: none;
          transform: none;
}

/*************************************
 * CONTRACT
 */

.ladda-button[data-style=contract] {
  overflow: hidden;
  width: 100px;
}

.ladda-button[data-style=contract] .ladda-spinner {
  left: 50%;
  margin-left: 0;
}

.ladda-button[data-style=contract][data-loading] {
  border-radius: 50%;
  width: 52px;
}

.ladda-button[data-style=contract][data-loading] .ladda-label {
  opacity: 0;
}

.ladda-button[data-style=contract][data-loading] .ladda-spinner {
  opacity: 1;
}

/*************************************
 * OVERLAY
 */

.ladda-button[data-style=contract-overlay] {
  overflow: hidden;
  width: 100px;
  -webkit-box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0);
}

.ladda-button[data-style=contract-overlay] .ladda-spinner {
  left: 50%;
  margin-left: 0;
}

.ladda-button[data-style=contract-overlay][data-loading] {
  border-radius: 50%;
  width: 52px;
  /*outline: 10000px solid rgba( 0, 0, 0, 0.5 );*/
  -webkit-box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.8);
}

.ladda-button[data-style=contract-overlay][data-loading] .ladda-label {
  opacity: 0;
}

.ladda-button[data-style=contract-overlay][data-loading] .ladda-spinner {
  opacity: 1;
}

[dir="rtl"] .ladda-spinner > div {
  left: 25% !important;
}

.wp-media-buttons .insert-media {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  -webkit-box-shadow: 0 1px 0 #ccc;
          box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
}

img {
  max-width: 640px;
  width: auto;
  height: auto;
  vertical-align: bottom;
}

.insert_block {
  text-align: center;
  width: 320px;
  margin: 0;
}

.insert_block img {
  width: 100%;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

table.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

table.aligncenter {
  margin-left: auto;
  margin-right: auto;
}


