/**
 * Invoice Style Sheet
 *
 * Contains styling specific to the view invoice page.
 *
 * @project   WHMCS
 * @version   1.0
 * @author    WHMCS Limited <development@whmcs.com>
 * @copyright Copyright (c) WHMCS Limited 2005-2015
 * @license   http://www.whmcs.com/license/
 * @link      http://www.whmcs.com/
 */

body {
    background-color: #efefef;
}

/* Container Responsive Behaviour */

@media print {
    html, body {
        width: 750px;
    }
}

.invoice-container {
    margin: 10px auto;
    padding: 40px;
    max-width: 850px;
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

@media (max-width: 895px) {
    .invoice-container {
        margin: 15px;
    }
}
@media (max-width: 767px) {
    .invoice-container {
        padding: 45px 45px 70px 45px;
    }
}

@media (max-width: 499px) {
    .invoice-header {
        text-align: center;
    }
}

.invoice-head {
    position: relative;
    min-height: 1px;
}

.invoice-payment-advice {
    position: relative;
    min-height: 1px;
}

.invoice-payto-info {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
}

.invoice-items {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 500px) {
    .invoice-col {
        float: left;
        width: 33%;
    }
    .invoice-col.right {
        float: right;
    }
    .invoice-payment-advice {
        float: left;
        width: 100%;
    }
    .invoice-head {
        float: left;
    }
    .invoice-head.info {
        margin-left: 1%;
    }
    .invoice-head.status {
        float: right;
    }
}

/* Invoice Status Formatting */

.invoice-container .invoice-status {
    /*margin: 20px 0 0 0;*/
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.invoice-highlight {
    font-weight: bold;
}

/* Invoice Status Colors */

.draft {
    color: #117dd6;
}
.awaiting-payment {
    color: #ffcc00;
}
.paid {
    color: #00a65a;
}
.overdue {
    color: #cc0000;
}
.cancelled {
    color: #f78336;
}
.unpaid {
    color: #cc0000;
}
.refunded {
    color: #224488;
}
.collections {
    color: #ffcc00;
}

/* Payment Button Formatting */

.invoice-container .payment-btn-container {
    margin-top: 5px;
    text-align: center;
}
.invoice-container .payment-btn-container table {
    margin: 0 auto;
}

/* Text Formatting */

.invoice-container .small-text {
    font-size: 0.9em;
}

/* Invoice Items Table Formatting */

.invoice-container td.total-row {
    background-color: #f8f8f8;
}
.invoice-container td.no-line {
    border: 0;
}

.invoice-items .panel-body {
    padding: 0px;
}

.invoice-panel {
    margin-bottom:0px;
    margin-top:5px;
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.invoice-items .panel-body .table-responsive table {
    margin-bottom: 0px;
}

.invoice-no {
    padding: 0px;
}

.btn-pay-now {
    margin-top:5px;
    padding: 3px 3px;
}
